@using BotCore.DataModel
@{
    ViewData["Title"] = "Leaderboards";
    Bot bot = Logic.GetBotByDomain(Context.Request.Host.Host, true, true, true);
    Console.WriteLine(ViewData["id"]);
    var server = bot.Servers.First(x => x.DiscordServerId == (string) ViewData["id"]);
    var user = server.DServerUsers.First(x => x.GlobalUser.DiscordUserId == (string) ViewData["uid"]);
    ViewData["i"] = server.DServerUsers.OrderByDescending(x=>x.XpLevel).ThenByDescending(x=>x.Xp).ToList().IndexOf(user);
    Layout = "_ModalLayout";
}
<div style="height: 60px;"></div>
<center>
    <div class="clickable card" onclick="OpenModal(document.location.href+'/@user.GlobalUser.DiscordUserId')">
        <a class="ranking">@ViewData["i"]</a>
        <svg class="progress-ring icon" width="64" height="64" loading="lazy">
            <clipPath id="clipCircle" clipPathUnits="objectBoundingBox">
                <circle r=".5" cx=".5" cy=".5"/>
            </clipPath>
            <circle class="progress-ring__circle" stroke="white" stroke-width="4" fill="transparent" r="28" cx="50%" cy="50%"/>
            <image clip-path="url(#clipCircle)" height="56" width="56" x="50%" y="50%" transform="translate(-28,-28)" href="@user.GlobalUser.AvatarUrl" data-yes="${a.discordUserId}"/>
        </svg>
        <!--		<img class='icon' loading='lazy' async accessKey='${a.discordUserId}' src='${a.avatarUrl}'>-->
        <a class="large">
            @user.GlobalUser.Username<a class="extrasmall"></a>
        </a><br>
        <a class="large">@user.XpLevel</a>
        <a class="small extra">(@user.Xp/@user.XpGoal XP)</a><br>
        <div class='pb cardfooter'>
            <span class="cardfooter" style='width: @user.XpLevel * 100%;'></span>
        </div>
    </div>
</center>