<script src="/static/js/jquery-3.5.1.min.js"></script>
<meta charset="UTF-8">
<link href="/static/css/navbar.css" rel="stylesheet">
<ul id="navbar">
    <li><a href="/" target="_parent">Home</a></li>
    <li><a href="/leaderboards" target="_parent">Leaderboards</a></li>
    <li><a href="/stats" target="_parent">Stats</a></li>
</ul>
<div style="height: 60px;"></div>